[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/vixdex"]
	path = lib/vixdex
	url = https://github.com/vixdex/vixdex
[submodule "lib/op-hook"]
	path = lib/op-hook
	url = https://github.com/lababidi/op-hook
